################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MiniViewerWrapper/.vs
/MiniViewerWrapper/MiniViewerWrapper/bin
/MiniViewerWrapper/MiniViewerWrapper/obj
/MiniViewerUI/build
